keyS
Libraries/*
Logs/*
Profiles/*
Services/*
Images/*
Files/*
Scripts/*
Profiles/*
Shared Projects/*
Experts/*.ex5
Experts/Advisors/*.ex5
Experts/Advisors/*.log
Experts/Advisors/MASTER.ex5
Files/*
mql5.index
experts.dat